input{
background-color: transparent;
   padding :10px; 
   position: relative;
    border-radius: 40px;
}

.btn-style{
        border-radius: 40px;
        border: none;
        outline : none;
        padding: 4px 14px;
        position: absolute;
        right: 20px;
        top: 49%;
        transform: translateY(-25px);
        max-height: 90%;
    }
